<!DOCTYPE HTML>
<html>
<head>
<title>公安机关-成功案例-祎德科技</title>

<!---css--->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/main.css" rel="Stylesheet">
<link href="css/successcase.css" rel="stylesheet">
<link href="css/main.css" rel="Stylesheet">
<!---css--->

<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="keywords" content="" />
<!-- meta -->

<!---js--->
<script src="js/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="js/modernizr.custom.js"></script>

<script type="text/javascript" src="js/jquery.dlmenu.js"></script>
<!--可无视-->

<link href="css/global.css" rel="stylesheet">
<!--必要样式-->
<link href="css/component.css" rel="stylesheet" type="text/css" />

<script src="js/responsiveslides.min.js"></script>
<script src="js/bootstrap.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- script -->

<!---js--->
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<!---js--->

<!--JS for animate-->
	<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
	<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
		</script>
<!--//end-animate-->

</head>
<style>
		@charset "UTF-8";
	/* header */
	.header{position:relative;height:150px;top:30px;width:80%;margin-left:5%}
	.header .logo{display:block;width:75%;padding:10px 0 0 10px;}
	.header .logo img{display:block;width:100%;}
	.header .search{position:absolute;top:0;right:35px;z-index:1000;display:block;width:50px;height:50px;text-indent:-9999em;background:url(../images/icon-search.png) no-repeat center center;background-size:40%;}
	.header .search:hover{background-color:#0067d2;}
	.header .search span{display:none;}
	.header .user-icon{position:absolute;top:0;right:70px;z-index:1000;display:block;width:50px;height:50px;text-indent:-9999em;background:url(../images/icon-user.png) no-repeat center center;background-size:40%;}
	.header .user-icon span{display:none;}
	.header .user-icon:hover{background-color:#0067d2;}
	.header .back{position:absolute;top:0;left:0;display:block;width:50px;height:50px;text-indent:-9999em;background:url(../images/icon-back.png) no-repeat center center;background-size:12px 20px;}
	
	/* @media (min-width:641px){body{width:640px;margin:auto;}} */
</style>
<body>

	<!---header--->
	<header class="visible-md visible-lg" style="position: relative; z-index: 99; background: rgb(255, 255, 255); top: 0px; margin-top: 0px;">
        <div class="navbar">
            <div class="line" style="height: 4px; width: 85px; background: none 0% 0% repeat scroll rgb(0, 61, 121); position: absolute; top: 0px; z-index: 100; left: 813px;"></div>
            <div class="logo">
                <img src="images/logo.png" style="width: 327px;height: 55px;margin-top: 15px;">
            </div>
            <div class="nav">
                <ol>
                    <li class="navbg">
                        <p class="phead" id="nav1"><a href="index"><span>&nbsp;首页</span></a></p>
                    </li>
                    <li class="navbg">
                        <p class="phead" id="nav2"><a class="showhide" href="移动安全-移动安全管理平台"><span>产品展示</span></a></p>
                        <div class="dmise_product" style="display: none; height: 350px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                            <ul>
                                <li>
                                    <a href="#" class="dmisec_hover">移动安全</a>
                                </li>
                                <li>
                                    <a href="#">安全服务</a>
                                </li>
                                <li>
                                    <a href="#">溯源营销</a>
                                </li>
                                <li>
                                    <a href="#">教育服务</a>
                                </li>
                            </ul>
                            <section class="dimec_mobile">
                                <ol style="display: block;">
                                    <li><a href="移动安全-移动安全管理平台">移动安全管理平台</a></li>
                                    <li><a href="移动安全-移动应用平台">移动应用平台</a></li>
                                    <li><a href="移动安全-移动应用安全检测系统">移动应用检测系统</a></li>
                                    <li><a href="移动安全-移动应用加固系统">移动应用加固系统</a></li>
                                    <li><a href="移动安全-移动推送管理系统">移动推送管理系统</a></li>
                                    <li><a href="移动安全-移动应用安全预警系统">移动应用安全预警系统</a></li>
                                    <li><a href="移动安全-移动应用态势感知系统">移动应用态势感知系统</a></li>
                                </ol>
                                <ol style="display: none;">
                                    <li><a href="安全服务-教育培训">教育培训</a></li>
                                    <li><a href="安全服务-风险评估">风险评估</a></li>
                                    <li><a href="安全服务-等保评测">等保测评</a></li>
                                </ol>
                                <ol style="display: none;">
                                    <li><a href="溯源营销-农产品营销系统">农产品营销系统</a></li>
                                    <li><a href="溯源营销-电商系统">电商系统</a></li>
                                    <li><a href="溯源营销-农产品溯源平台">农产品溯源平台</a></li>
                                </ol>
                                <ol style="display: none;">
                                    <li><a href="中小学素质测评系统 V3.0 简介（一）">中小学素质测评系统</a></li>
                                    <li><a href="学生综合素质评价管理系统（教师&amp;学生）">学生综合素质评价管理系统</a></li>
                                    <li><a href="人事考评系统（政府&amp;企业）">人事考评系统</a></li>
                                </ol>

                            </section>
                        </div>
                    </li>
                    <li class="navbg">
                        <p class="phead" id="nav3"><a class="showhide" href="解决方案-统一认证"><span>解决方案</span></a></p>
                        <div class="dmisec_fa" style="display: none; height: 100px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                            <ul>
                                <li> <a href="解决方案-统一认证">统一认证解决方案</a></li>
                                <li><a href="解决方案-溯源营销"> 溯源营销解决方案</a></li>
                                <li><a href="解决方案-网路扶贫"> 网络扶贫解决方案</a></li>
                                <li><a href="解决方案-移动安全接入"> 移动安全接入解决方案</a></li>
                                <li><a href="解决方案-移动安全一体化">移动安全一体化解决方案</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="navbg">
                        <p class="phead" id="nav4"><a class="showhide" href="成功案例-政府管理"><span>成功案例</span></a></p>
                        <div class="dmisec_fa" style="display: none; height: 100px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                            <ul>
                                <li><a href="成功案例-政府管理"> 政府管理</a></li>
                                <li><a href="成功案例-公安机关"> 公安机关</a></li>
                                <li><a href="成功案例-金融证券"> 金融证券</a></li>
                                <li><a href="成功案例-教育机构">教育机构</a></li>
                                <li><a href="成功案例-医疗卫生"> 医疗卫生</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbg">
                        <p class="phead" id="nav6"><a href="../static/news.html"><span>公司动态</span></a></p>

                    </li>
                    <li class="navbg">
                        <p class="phead" id="nav7"><a class="showhide" href="简介"><span>关于我们</span></a></p>
                        <div class="dmisec_fa" style="display: none; height: 100px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                            <ul>
                                <li><a href="简介">公司简介</a></li>
                                <li><a href="contect">联系我们</a></li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </header>
<!-- 导航条开始 -->
<div class="header visible-sm visible-xs">

	<a href="" class="logo"><img src="images/logo.png"></a>

	<!-- <a href="http://www.jq22.com/" class="search"><span>目的地搜索</span></a>

	<a href="http://www.jq22.com/" class="user-icon"><span>用户中心</span></a> -->

	<div id="dl-menu" class="dl-menuwrapper">

		<button id="dl-menu-button">Open Menu</button>

		<ul class="dl-menu">

			<li><a href="">首页</a></li>

			<li>
				<a href="Line">产品展示</a>

				<ul class="dl-submenu">

					<li class="dl-back"><a href="#">返回上一级</a></li>

					<li>
						<a href="Line">移动安全</a>
		
						<ul class="dl-submenu">
		
							<li class="dl-back"><a href="#">返回上一级</a></li>
							 		<li><a href="移动安全-移动安全管理平台">移动安全管理平台</a></li>
                                    <li><a href="移动安全-移动应用平台">移动应用平台</a></li>
                                    <li><a href="移动安全-移动应用安全检测系统">移动应用检测系统</a></li>
                                    <li><a href="移动安全-移动应用加固系统">移动应用加固系统</a></li>
                                    <li><a href="移动安全-移动推送管理系统">移动推送管理系统</a></li>
                                    <li><a href="移动安全-移动应用安全预警系统">移动应用安全预警系统</a></li>
                                    <li><a href="移动安全-移动应用态势感知系统">移动应用态势感知系统</a></li>
						</ul>
					</li>
					<li>
						<a href="Line">安全服务</a>
		
						<ul class="dl-submenu">
		
							<li class="dl-back"><a href="#">返回上一级</a></li>
							<li><a href="安全服务-教育培训">教育培训</a></li>
                            <li><a href="安全服务-风险评估">风险评估</a></li>
                            <li><a href="安全服务-等保评测">等保测评</a></li>
						</ul>
					</li>
					<li>
						<a href="Line">溯源营销</a>
		
						<ul class="dl-submenu">
		
							<li class="dl-back"><a href="#">返回上一级</a></li>
							<li><a href="安全服务-教育培训">教育培训</a></li>
                            <li><a href="安全服务-风险评估">风险评估</a></li>
                            <li><a href="安全服务-等保评测">等保测评</a></li>
						</ul>
					</li>
					<li>
						<a href="Line">教育服务</a>
		
						<ul class="dl-submenu">
		
							<li class="dl-back"><a href="#">返回上一级</a></li>
							 <li><a href="中小学素质测评系统 V3.0 简介（一）">中小学素质测评系统</a></li>
                             <li><a href="学生综合素质评价管理系统（教师&amp;学生）">学生综合素质评价管理系统</a></li>
                             <li><a href="人事考评系统（政府&amp;企业）">人事考评系统</a></li>
						</ul>
					</li>
				</ul>
			</li>

			<li>
				<a href="Line">解决方案</a>
		
				<ul class="dl-submenu">
		
					<li class="dl-back"><a href="#">返回上一级</a></li>
					 <li> <a href="解决方案-统一认证">统一认证解决方案</a></li>
                     <li><a href="解决方案-溯源营销"> 溯源营销解决方案</a></li>
                     <li><a href="解决方案-网路扶贫"> 网络扶贫解决方案</a></li>
                     <li><a href="解决方案-移动安全接入"> 移动安全接入解决方案</a></li>
                     <li><a href="解决方案-移动安全一体化">移动安全一体化解决方案</a></li>
				</ul>
			</li>
			<li>
				<a href="Line">成功案例</a>
		
				<ul class="dl-submenu">
		
					<li class="dl-back"><a href="#">返回上一级</a></li>
				 	<li><a href="成功案例-政府管理"> 政府管理</a></li>
                    <li><a href="成功案例-公安机关"> 公安机关</a></li>
                    <li><a href="成功案例-金融证券"> 金融证券</a></li>
                    <li><a href="成功案例-教育机构">教育机构</a></li>
                    <li><a href="成功案例-医疗卫生"> 医疗卫生</a></li>
				</ul>
			</li>		

			<li><a href="news">公司动态</a></li>
			
			<li>
				<a href="Line">关于我们</a>
		
				<ul class="dl-submenu">
					<li class="dl-back"><a href="#">返回上一级</a></li>
					 <li><a href="简介">公司简介</a></li>
                     <li><a href="contect">联系我们</a></li>
				</ul>
			</li>		
		</ul>

	</div>

</div>
	<!--  菜单栏结束 -->

		<!-- 相关案例开始  -->

	<div id="PC" class="banner banner17 wow fadeInDownBig animated animated" data-wow-delay="0.4s" >

			<!-- 1 -->
			<div class="banner_img" >
				<div class="banner_imgclone">
					<img src="images/banner.png">
				</div>
			</div>
			<!-- 1 -->

			<!-- 蓝色成功案例 -->
			<div class="mid">
				<i class="pos_one"></i>
				<p><span>成功案例</span><br>SUCCESSFUL CASE</p>
			</div>
			<!-- 蓝色成功案例 -->

			<!-- 专注移动安全开始 -->

			<!-- 专注移动安全结束 -->

			<!-- 内容开始 -->
			<div class="par">
				<div class="solution1 clearfix">
					<p class="solution_p1" id="selt">相关案例</p>
					<ul class="case">
						<li class="caseall">
							<div>
								<h2>公安机关</h2>
								<span><img src="images/aboutus3_2.png" alt=""></span>
								<p>黑龙江公安项目是在原有国密网和公安信息网的基础上，发展跨警种的数据中心并搭配智能“三防机”作为警用移动执法设备，内置移动安全管理平台为移动执法的安全性提供保障。</p>
							</div>
							<h2>主要功能：</h2>
							<ol>
								<li>1、对警用移动设备进行统一管理和安全加固</li>
								<li>2、对警用应用进行统一维护和安全加固</li>
								<li>3、建立设备统一消息文档加密推送机制，辅助移动办公和移动执法</li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 相关案例结束 -->
	<div id="Mobile" class="container">
		<div class="panel panel-default" >
			<!-- Default panel contents -->
			<div class="panel-heading"><h3 class="text-center">公安机关</h3></div>
			<div class="panel-body">
				<p>黑龙江公安项目是在原有国密网和公安信息网的基础上，发展跨警种的数据中心并搭配智能“三防机”作为警用移动执法设备，内置移动安全管理平台为移动执法的安全性提供保障。</p>
			</div>
			<br>
			<ul class="list-group text-center">
				<li class="list-group-item">
					<h4 class="text-center">主要功能：</h4>
				</li>

			</ul>

			<br>
			<!-- List group -->
			<ul class="list-group text-center">
				<li class="list-group-item">1、对警用移动设备进行统一管理和安全加固</li>
				<li class="list-group-item">2、对警用应用进行统一维护和安全加固</li>
				<li class="list-group-item">3、建立设备统一消息文档加密推送机制，辅助移动办公和移动执法</li>
			</ul>

		</div>
	</div>
<!---底部标题区开始--->
	<div class="footer-section">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
					<h4 style="font-family:黑体">产品展示</h4>
					<ul>
						<li><a href="移动安全-移动安全管理平台">移动安全管理平台</a></li>
						<li><a href="移动安全-移动应用平台">移动应用平台</a></li>
						<li><a href="移动安全-移动应用加固系统">移动应用加固系统</a></li>
						<li><a href="移动安全-移动应用安全检测系统">移动应用安全监测系统</a></li>
						<li><a href="移动安全-移动应用加固系统">服务器加固系统</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
					<h4 style="font-family:黑体">解决方案</h4>
					<ul>
						<li><a href="解决方案-统一认证">统一认证</a></li>
						<li><a href="解决方案-溯源营销">溯源营销</a></li>
						<li><a href="解决方案-网路扶贫">网络扶贫</a></li>
						<li><a href="解决方案-移动安全接入">安全接入</a></li>
						<li><a href="解决方案-移动安全一体化">移动安全一体化</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
					<h4 style="font-family:黑体">成功案例</h4>
					<ul>
						<li><a href="成功案例-政府管理">成功案例</a></li>
						<li><a href="成功案例-政府管理">政府管理</a></li>
						<li><a href="成功案例-公安机关">公安机关</a></li>
						<li><a href="成功案例-金融证券">金融证券</a></li>
						<li><a href="成功案例-教育机构">教育机构</a></li>
						<li><a href="成功案例-医疗卫生">医疗卫生</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
					<h4 style="font-family:黑体">合作发展</h4>
					<ul>
						<li><a href="contect">联系我们</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
					<h4 style="font-family:黑体">关于我们</h4>
					<ul>
						<li><a href="简介">企业简介</a></li>
						<li><a href="news">公司动态</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!---底部标题区结束--->

	<!--版权区开始-->
	<div class="copy-section wow fadeInDownBig animated animated" data-wow-delay="0.4s">
		<div class="container">
				<div class="social-icons">
					<a href="contect"><i class="icon"></i></a>
					<a href="contect"><i class="icon1"></i></a>
					<a href="contect"><i class="icon2"></i></a>
					<a href="#"><i class="icon3"></i></a>
				</div>
			<p>Copyright ©2018 祎德科技版权所有</p>
		</div>
	</div>
	<!--版权区结束-->

<!-- js - 菜单 -->
<script src="js/main.js"></script>
    <script src="js/flide.js"></script>
    <script src="js/picMove.js"></script>
	 <script type="text/javascript">
         var Mobile = $('#Mobile')
         Mobile.hide();
         var pc = $('#PC')
         pc.hide();
         if(($(window).width())<=500) {
             Mobile.show();
             pc.hide();
         }
         else{
             pc.show();
             Mobile.hide();
		 }
    	// 	line 下标
		var lastLeft=$(".navbg").eq(0).position().left+25;
	    $(".line").stop().animate({"left":lastLeft});
	    $(".navbg").mouseenter(function () {
	        $(".line").stop().animate({"left":$(this).position().left+30},'fast');
	    });
	    $(".navbg").mouseleave(function () {
	        $(".line").stop().animate({"left":lastLeft});
	        $('.dmise_product>ul>li>a').removeClass();
	        $('.dmise_product>ul>li>a:first').addClass("dmisec_hover");
	        $('.dimec_mobile>ol').hide().eq(0).show();
	    });
	     $(function(){
			$( '#dl-menu' ).dlmenu();
		});
         $(window).resize(
             function () {
                 if(($(window).width())<=500) {
                     Mobile.show();
                     pc.hide();
                 }
                 else{
                     pc.show();
                     Mobile.hide();
                 }
             }
         );
</script>
<!-- js -菜单 -->

</body>
</html>